@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
/* If the viewport is less than 1000px then I want to switch to the vertical layout */

* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

p {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
}

b {
  font-weight: 400;
}

.vertical-align {
  position: relative;
  top: 20%;
  text-align: center;
}

.content {
  width: 60%;
  padding: 2em 3em 3em 5em;
  animation: fadein 1.35s;
  -moz-animation: fadein 1.35s; /* Firefox */
  -webkit-animation: fadein 1.35s; /* Safari and Chrome */
  -o-animation: fadein 1.35s; /* Opera */
  animation-timing-function: ease-in;
}

.section_title {
  padding: 0.75em 0em 0em 1.5em;
  font-size: 1.85em;
  font-weight: 500;
  color: rgba(121,186,255,255);
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/* Cat image from https://www.pinclipart.com/downpngs/ommxwi_nyan-balloon-w-fireworks-cartoon-cat-gif-no/ */
#about {
  font-size: 1.2vw;
  flex: 3;
  height: 100vh;
  position: relative;
  /* background-color: #fdf4d6; */
  background-image: url(./images/cat_balloon.png);
  background-size: 20% auto;
  background-repeat: no-repeat;
  animation: animatedBackground 2s ease-in-out infinite;
}

@keyframes mobileBackground {
  0%, 100% {
    background-position: 30% 70%;
  } 50% {
    background-position: 30% 73%;
  }
}

@keyframes animatedBackground {
  0%, 100% {
    background-position: 80% 25%;
  } 50% {
    background-position: 80% 30%;
  }
}

.intro {
  color: black;
  font-size: 3em;
  text-align: left;
  margin: 0px 0px 0px 6%;
}

#projects {
  font-size: 1.05rem;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.05);
}

#entries {
  /* padding: 1em 1em 1em 1em; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 0px;
  margin-bottom: 0px;
}

.entry {
  flex: 1;
  flex-basis: 40%;
  height: 200px;
  padding: 1.4em 1.75em;
  margin: 1.5em;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.15s ease-in-out, transform 0.3s ease-in;
  overflow: hidden;
}

.entry:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.006);
}

ul {
  list-style-type: none;
}

#contact {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
  height: 150px;
}

.entry_header {
  font-size: 1.5em;
  font-weight: 500;
  color: rgba(121,186,255,255);
}

.entry_about {
  font-size: 0.95em;
}

.contact-container {
  display: flex;
  padding: 0em 10em;
}

.contact-entry {
  flex: 1;
  text-align: center;
}

.project-button {
  color: black;
  text-decoration: none;
}

.thumbnail {
  height: 10%;
}

@media (max-width: 400px) {
  #about {
    font-size: 1.8vw;
    flex: 3;
    height: 100vh;
    position: relative;
    /* background-color: #fdf4d6; */
    background-image: url(./images/cat_balloon.png);
    background-size: 35% auto;
    background-repeat: no-repeat;
    animation: mobileBackground 2s ease-in-out infinite;
  }

  .vertical-align {
    position: relative;
    top: 15%;
    text-align: center;
  }

  .content {
    width: auto;
    padding: 2em 3em 3em 5em;
    animation: fadein 1.35s;
    -moz-animation: fadein 1.35s; /* Firefox */
    -webkit-animation: fadein 1.35s; /* Safari and Chrome */
    -o-animation: fadein 1.35s; /* Opera */
    animation-timing-function: ease-in;
  }

  #entries {
    padding: 0em 1em 1em 1em;
  }

  .section_title {
    width: 75%;
    padding: 1em 0em 0em 0em;
    margin: 0 auto;
    font-size: 1.85em;
    font-weight: 500;
    color: rgba(121,186,255,255);
    text-align: center;
  }

  #projects {
    font-size: 1.0rem;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .contact-container {
    display: flex;
    padding: 1em 10em;
  }
}